.wrapper {
    width: 100%;
    float: left;
    background-color: deepskyblue;
}

.titulo{
    width: 100%;
    float: left;
    text-align: center;
    text-decoration: underline;
}

.cuerpo{
    width: 100%;
    float: left;
}

.izqa, .dcha{
    width: 50%;
    float: left;
}

.foto{
    width: 100%;
    float: left;
    text-align: center;
}

@media screen and (max-width:500px){
    
    .foto img{
        max-width: 20%;
    }
    
    .table ul li{
        list-style: none;
        display: inline;
    }
}

@media screen and (max-width:700px){
    
   
    .titulo{
        text-decoration: none;
    }
    
    .foto img{
        max-width: 60%;
    }
    
    .wrapper{
        background-color: indianred;
    }
}
    
@media screen and (max-width:1000px){
    
    .izq, .dcha{
        width: 100%;
        float: left;
            }
    
    .table{
        text-align: center;
        margin-left: 25%;
    }
    
     .table ul li{
        list-style: none;
    }
}
    
    
    
    
    